<!DOCTYPE html>
{% for lang in site['languages'] %}
{% if lang['active'] %}
<html lang="{{ lang['code'] }}">
{% endif %}
{% endfor %}
<head>
  <base href="{{ site['url'] }}/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}
		
		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		  <![endif]-->
	

      <link rel="stylesheet" href="https://res.cloudinary.com/honestsmm/raw/upload/v1658242446/honestsmm-css/keyframes_honestsmm_rr45wz.css">

      <!-- Slick Carusel CDN -->
      <link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> 
    <!-- ./ Slick Carusel CDN -->
    <script src="/css/panel/honestsmm/unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"></script>

    <!-- Swiper Slider CNDS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

					<link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/xbcnou18jgpb8wkj.css">
					<link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/fom1fxrq9nk1ndzk.css">
					<link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.mypanel.link/libs/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css">
					<link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.mypanel.link/css/font-awesome/css/all.min.css">
					<link rel="stylesheet" type="text/css" href="/css/panel/honestsmm/cdn.mypanel.link/global/c3gyq3shygmabbke.css">
		
	</head>
	<body class="dashboard"  id="body">
		          <script>
            if(localStorage.getItem('honestSmmCurrentMode')){
                const bodyFire2 = document.getElementById('body');
                bodyFire2.classList.add('nightmode');
            }
        </script>
         <main id="main_container">
            <div class="sidebar">
                <button class="btn_nav_close" onclick="toggleSidebar()">
                  <i class="far fa-times-circle"></i>
                </button>
                <div class="sidebar_top">

                  <div class="logo">
                    <!-- <img src="https://cdn.mypanel.link/52pp7z/3s4o2nskf0alp0ae.png" class="logo_img img-fluid"  alt="honestsmm.com" title="honestsmm.com"> -->
                    <img src="{{ site['logo'] }}" class="logo_img img-fluid"  alt="{{ site['site_name'] }}" title="">
                   
                
            </div>
             <div class="user_data">
              <div class="user_badges" data-bs-toggle="modal" data-bs-target="#GGstaticBackdrop">
                <h4>
                                      NEW
                  
                </h4>
              </div>
                <div class="total_data">
                  <div class="user_wrap">
                    <div class="v2_avatar">
                        <img src="https://res.cloudinary.com/honestsmm/image/upload/v1659066334/honestsmm-assets/man_wgyqfh.png" class="img-fluid" id="avatar1" alt="Honestsmm Avatar">
                    </div>
                    <div class="user_balance">
                        <a class="balance" data-bs-toggle="offcanvas" href="#currencyOffcanvas" role="button" aria-controls="currencyOffcanvas">≈&nbsp;{{ currency["symbol"]  }} &nbsp;{{ (user["balance"]*currency["value"]) |round(2, 'floor') }}</a>
                    </div>
                    <div class="v2_user_info">
                      <h5>{{ user["username"]  }}</h5>
                    </div>
                </div>
                
                </div>
             </div>
             
                </div>
                <div class="sidebar_bottom">
                  <div class="sidebar_menu">
                                                              <a href="/" class="menu_item active" >
                                                    <div class="menu_icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                                                <div class="menu_name">
                            New order
                        </div>
                    </a> 
                     

                                                              <a href="/service" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-list"></i>
                            </div>
                                                <div class="menu_name">
                            Services
                        </div>
                    </a> 
                     

                                                              <a href="/orders" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="far fa-clipboard"></i>
                            </div>
                                                <div class="menu_name">
                            Orders
                        </div>
                    </a> 
                     

                                                              <a href="/addfunds" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-wallet"></i>
                            </div>
                                                <div class="menu_name">
                            Add funds
                        </div>
                    </a> 
                     

                                         

                                         

                                         

                                                              <a href="/tickets" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-comment-edit"></i>
                            </div>
                                                <div class="menu_name">
                            Tickets
                        </div>
                    </a> 
                     

                                      <!--   <a href="/dashboard" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                                                <div class="menu_name">
                            Dashboard
                        </div>
                    </a> -->

                                         
                          
                                         
                                         
                                         

                                        <!-- Show More Btn Codes Start -->
                    <div id="show_more_wrap" >
                      <button type="button" class="" id="showMore">
                        <div class="menu_name">
                            More
                        </div>
                            <div class="menu_icon">
                              <i class="far fa-arrow-circle-down"></i>
                            </div>
                      </button>
                      
                    </div>
                    
                    <div id="more_menu">
                                                                                                                                                                                                                                                                                                                                          <a href="/dashboard" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                                                <div class="menu_name">
                            Dashboard
                        </div>
                    </a> 
                                                                                        <a href="/api" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-code"></i>
                            </div>
                                                <div class="menu_name">
                            API
                        </div>
                    </a> 
                                                                                        <a href="/updates" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-cloud"></i>
                            </div>
                                                <div class="menu_name">
                            Updates
                        </div>
                    </a> 
                                                                                                                                                          <a href="/affiliates" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fas fa-share-alt"></i>
                            </div>
                                                <div class="menu_name">
                            Affiliates
                        </div>
                    </a> 
                                                                                        <a href="/child-panels" class="menu_item " >
                                                    <div class="menu_icon">
                                <i class="fad fa-child"></i>
                            </div>
                                                <div class="menu_name">
                            Child panel
                        </div>
                    </a> 
                                                                </div>
                  <!-- Show More Btn Codes End -->
                 </div>
                </div>
            </div>
		                    <div class="content_area">
            <div class="top_header">
              <div class="top_head_wrap">
                    <div class="item item_icons">
                      <button class="sidebar_menu_icon" onclick="toggleSidebar()">
                        <i class="fas fa-bars"></i>
                      </button>
                      <div class="logo_off_nav">
                              <img src="{{ site['logo'] }}" class="img-fluid" alt="{{ site['site_name'] }}">
                      </div>
                    </div>
                      <div class="item">
                              
                      </div>
                      
                       
                      
                        <div class="item user_settings">
                              <div class="dropdown dropdown-currencies">
                                <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                  <i class="fas fa-badge-dollar"></i>
                                </a>
                                <ul class="dropdown-menu" id="currencies-list">
                                                                            <li>
                                            {% for curr in site['currencies'] %}
<a href="/account/currency_preferred/{{curr['id']}}?url={{active_menu}}" >{{curr['name']}} </a>
{% endfor %}
                                        </li>
                                        </ul>
                            </div>
                                        
                                        
                                        
                                        
                      
                     
                                        
                                        
                              <a href="javascript:void(0)" class="day_night_btn" onclick="toggleThemeMode()">
                                      <span class="active_circle"></span>
                                      <span class="night_mode"> <i class="fas fa-moon"></i> </span>
                                      <span class="day_mode"><i class="fas fa-sun"></i></span>
                              </a>
                              <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle btn_profiles" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="user_top_avatar">
                                                <img src="https://res.cloudinary.com/honestsmm/image/upload/v1659066334/honestsmm-assets/man_wgyqfh.png" width="40px" class="img-fluid" alt="" id="avatar2">
                                        </span>
                                      </button>
                                      <ul class="dropdown-menu settings_drop" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/account">Account</a></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                      </ul>
                                    </div>
                      </div>
              </div>
          </div>
            <div class="content">
                <!-- page and other top info -->
                 <div id="page_info">
                         <div class="item">
                                 <h4>You are currently on: <span class="sp_text_primary">{{ title }}</span></h4>
                         </div>
                         <div class="item">
                                <h4>Total Orders: <span class="sp_text_primary">{{ totalorders}}</span></h4>
                        </div>
                        <div class="item">
                                <h4>Welcome <span class="sp_text_primary">{{ user["username"]  }}</span>, Your Balance is : <span class="sp_text_primary">≈&nbsp;{{ currency["symbol"]  }} &nbsp;&nbsp;{{ (user["balance"]*currency["value"]) |round(2, 'floor') }}</span></h4>
                        </div>
                 </div>
               
                <!-- // page and other top info -->
                    <style>
  #orderform-category,
  #orderform-service{
    display: none;
  }
</style>







          

    
    
				
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/aknio8ec1fpphc0p.js" >
							</script>
			<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/nfos6j9mo1on7ksz.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/zj8a9xu09krbozbz.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/6cpemo5rgp75dw40.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/lw6bpw0kbns1ylfe.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/pxw5ry6yyxu4zryq.js" >
							</script>
				

				
		  
<!-- Swiper Slider JS -->



